Que(1). Create one variable containing following type of data:
     (i) String
     (ii) list
     (iii) float
     (iv) tuple

Ans=(i)String

In [21]:
s="abhishek Prajapati"

In [22]:
s

'abhishek Prajapati'

In [23]:
type(s)

str

Ans=(ii) list

In [24]:
l=[1,2,3,4,5,6,7,8,9,"Amit"]

In [25]:
type(l)

list

Ans = (iii) float

In [28]:
f=2.3

In [29]:
type(f)

float

Ans=(iv)tuple

In [30]:
t=(1,2,3,4,"ram","hanuman")

In [31]:
type(t)

tuple

Que(2).Given are some following variables containing data:

    (i) var1 = ''
    (ii) var2= '[Ds,ML,Python]'
    (iii) var3= ['DS','ML','Python']
    (iv) var4= 1.
  What will be the data type of the above given variable.

Ans(i) string

In [32]:
var1=''

In [33]:
type(var1)

str

Ans(ii) string

In [35]:
var2='[Ds,Ml,Python]'

In [36]:
type(var2)

str

Ans(iii) list

In [37]:
var3=['Ds','Ml','Python']

In [39]:
type(var3)

list

Ans(iv) float

In [40]:
var4=1.

In [41]:
type(var4)

float

Que(3).Explain the use of the following operators using an example:

    (i) /
    (ii) %
    (iii) //
    (iv) **

Que(i) /

Ans(i) It is use for division,and it give float number after division.

    Example--

In [42]:
18/2

9.0

In [43]:
225/5

45.0

Que(ii) %

Ans(ii) It is known as reminder. 
     
     Example--

In [44]:
13%2

1

In [45]:
50002%25

2

Que(iii) //

Ans(iii) It is also use for division,but it do not give float number.
      
      Example---

In [46]:
18//2

9

In [47]:
500//25

20

Que(iv) **

Ans(iv) It is known as exponentiation.

     Example--

In [48]:
12**4

20736

In [49]:
2**3

8

Que(4).Create a list of length 10 of your choice containing multiple
    type of data.Using for loop print the element and it data type.

Ans(4)--

l=[1,2,3,("Abhi","Kundan"),[1,2,3],2.3,"Amit",4.5,90,"Shriram"]

In [61]:
len(l)

10

In [62]:
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
('Abhi', 'Kundan')
<class 'tuple'>
[1, 2, 3]
<class 'list'>
2.3
<class 'float'>
Amit
<class 'str'>
4.5
<class 'float'>
90
<class 'int'>
Shriram
<class 'str'>

Que(5).Using a while loop,verify if the number A is purely divisible by number B and if so then how many time it can be divisible.

Ans(5)--

In [4]:
A=int(input("Enter number A:"))
B=int(input("Enter number B:"))

IndentationError: unexpected indent (1285065469.py, line 3)

Que(6).Create list containing 25 int type data.Using for loop and if-else condition print if the element is divisible by 3 or not.

Ans(6)--

In [19]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,24,25]
for i in l:
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
24

Que(7).What do you understand about mutable and immutable data type? Give example for both showing this property.

Ans(7) --

Mutable-Mutable means where we can change the value 

        Example--

In [20]:
l=[1,2,3,4,56,"abhishek","prajapati"] # list

In [21]:
l[-1]=2

In [22]:
l

[1, 2, 3, 4, 56, 'abhishek', 2]

In [25]:
# In list we change the value of "prajapati" with 2
 # so therefore list is known as mutable
#  (set, dictionary ,list ) all are known as mutable

Immutable-Immutable type are those we can never change there plaace and value. 

   Example--

In [29]:
t=(1,2,34,12.2,"Abhishek","amit",True,False)   #tuple
t[-3]="Kundan"

TypeError: 'tuple' object does not support item assignment

In [30]:
# In tuple give us error beacause tuple is immutable.
#( integer,String,floating point number,tuple,boolians,)this all are known as immutable type.